[submodule "third_party/raylib"]
	path = third_party/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:nothings/stb.git
[submodule "third_party/box3d"]
	path = third_party/box3d
	url = git@github.com:erincatto/box3d.git
[submodule "third_party/box2d"]
	path = third_party/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "third_party/cute_headers"]
	path = third_party/cute_headers
	url = git@github.com:RandyGaul/cute_headers.git
[submodule "third_party/flecs"]
	path = third_party/flecs
	url = git@github.com:SanderMertens/flecs.git
[submodule "third_party/par"]
	path = third_party/par
	url = git@github.com:prideout/par.git
